.jobsNorders {
    display: flex;
}
.activeJobs, .activeOrders {
    border-style: ridge;
    height: 300px;
    width: 300px;
    margin-left: 10%;
    margin-right: 10%;
}

.activeJobs {
    width: 40%
}

.jobDetails {
    text-align: left;
    padding-left: 10%
}

.activeOrders {
    width: 40%
}

.chat {
    float: right;
    padding-right: 10%;
}

li {
    list-style-type: none;
}