.jobsNorders {
  display: flex;
}

li {
  list-style-type: none;
}

.holder {
  display: flex;
  justify-content: space-evenly;
  margin-botton: 10%;
}

.container {
  border: 1px solid black;
  border-radius: 25px;
  height: 500px;
  position: relative;
  background-color: #f9c906;
  box-shadow: 5px 5px #8888;
}

.messageCard {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

#timestamp {
  float: right;
}

.chat-header {
  height: 8%;
  text-align: left;
  padding-left: 5%
}

.chat-body {
  border-style: ridge;
  overflow-y: scroll;
  height: 70%
}

.chat-field {
  height: 22%;
  padding-left: 10px
}



.send {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  top: -15px;
  height: 40px;
  background-color: #FFFACD;
}

.chat-field {
  bottom: 0;
}

.toggletype {
  display: flex;
}

.selection {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  border-radius: 5px;
}

.selection:hover {
  top: -5px;
  background-color: #f9c906;
}

.selection:active {
  background-color: #f9c906;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #f9c906;
  color: black;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody {
  height: 360px;
  background-color: #f9c906;
  overflow-y: auto;
  overflow-x: hidden
}

.styled-table tbody tr {
  height: 20px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 20px;
}

.styled-table tbody tr {
  background-color: #f3f3f3;
}

.innerHeaders th, .innerHeaders td {
  background-color: white;
}

.styled-table thead tr, .styled-table tbody tr {
  display: table;
  width: 750px;
  table-layout: fixed;
}

button {
  background-color: #f9c906;
  margin: 2px;
  border-radius: 5px;
  border-color: #f9c906;
}

