.App {
  text-align: center;
}

.nav {
  background-color: #f9c906;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.navLeft {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.imgLeft {
  float: left;
  text-align: center;
  padding: 16px;
  height: 16px;
}

.navRight {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
  font-size: 17px;
}

.navRight:hover {
  background-color: #f8efe4;
}

.navLeft:hover {
  background-color: #f8efe4;
}

label {
  display: block;
}

.SignInForm {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  padding: 40px 0px 0px;
  box-shadow: 5px 5px #8888;
  border-radius: 25px;
}

.SignUpForm {
  width: 300px;
  height: 320px;
  border: 1px solid black;
  margin: auto;
  padding: 20px 0px 20px;
  box-shadow: 5px 5px #8888;
  border-radius: 25px;
}

.flex{
  display: flex;
  height: 100vh;
}

.flex-child{
flex: 1;
border: 1px solid black;
padding: 50px;

}

.flex-child:hover {
  background-color:#f9c906;
}

.box {
  border: 1px solid black;
  height: 400px;
  width: 50%;
  margin: 50px auto;
}

.board {
  border: 1px solid black;
  background-color: aqua;
  height: 400px;
  width: 70%;
  margin: 50px auto;
}

/* .boardTable {
  border: 1px solid blue;

} */